html,
body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

* {
  text-decoration: none;
  color: white;
}

.wrapper {
  height: 100vh;
  background-color: antiquewhite;
  margin: 0px 50px;
}

.header {
  height: 80px;
  background-color: rebeccapurple;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navItems {

}

.navItem {
  
}